[deploy]
startCommand = "/usr/local/bin/custom-entrypoint.sh"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[environments.production.variables]
NEXTCLOUD_ADMIN_USER="kikaiworksadmin"
NEXTCLOUD_ADMIN_PASSWORD="2046S@nto!7669Y@"
NEXTCLOUD_TRUSTED_DOMAINS="${{RAILWAY_PUBLIC_DOMAIN}},localhost"
NEXTCLOUD_UPDATE_CHECK="false"
OVERWRITEPROTOCOL="https"
PGHOST="postgres-p4g0.railway.internal"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD="xVyHVBpGWZcXdelGFmefiMnrNdnTFvZs"
POSTGRES_DB="railway"
REDISHOST="redis.railway.internal"
REDISPORT="6379"
REDIS_PASSWORD="ixPeasWMoZHDuSmPgTmVmQQphKZlLkFs"
REDISUSER="default"
PORT = "8080"
PHP_MEMORY_LIMIT = "512M"
PHP_UPLOAD_LIMIT = "512M"
