[build]
builder = "NIXPACKS"

[deploy]
startCommand = "/usr/local/bin/custom-entrypoint.sh"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[environments.production.variables]
NEXTCLOUD_ADMIN_USER="kikaiworksadmin"
NEXTCLOUD_ADMIN_PASSWORD="2046S@nto!7669Y@"
NEXTCLOUD_TRUSTED_DOMAINS="nextcloud-railway-template-website.up.railway.app,localhost,::1,RAILWAY_PRIVATE_DOMAIN,RAILWAY_STATIC_URL"
NEXTCLOUD_UPDATE_CHECK="false"
OVERWRITEPROTOCOL="https"
DATABASE_URL="postgresql://postgres:xVyHVBpGWZcXdelGFmefiMnrNdnTFvZs@${{RAILWAY_PRIVATE_DOMAIN}}:5432/railway"
PGDATA="/var/lib/postgresql/data/pgdata"
PGDATABASE="railway"
PGHOST="${{RAILWAY_PRIVATE_DOMAIN}}"
PGPASSWORD="xVyHVBpGWZcXdelGFmefiMnrNdnTFvZs"
PGPORT="5432"
PGUSER="postgres"
POSTGRES_DB="railway"
POSTGRES_PASSWORD="xVyHVBpGWZcXdelGFmefiMnrNdnTFvZs"
POSTGRES_USER="postgres"
REDIS_PASSWORD="${{Redis.REDIS_PASSWORD}}"
REDIS_URL="${{Redis.REDIS_URL}}"
REDISHOST="${{Redis.REDISHOST}}"
REDISPASSWORD="${{Redis.REDISPASSWORD}}"
REDISPORT="${{Redis.REDISPORT}}"
REDISUSER="${{Redis.REDISUSER}}"
PORT = "8080"
PHP_MEMORY_LIMIT = "512M"
PHP_UPLOAD_LIMIT = "512M"
